header{
    margin: 2% 0% 2% 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.container{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color:rgb(4 14 111 / 50%);

}
.musicplayer{
    display: inline-block;
    border: 5px solid black;
    border-radius: 20px;
}
.music-controls{
    margin-top: 2%;
    margin-bottom: 10%; 
}
.ppn{
    margin-left: 7px;
    margin-right: 7px;
    
}
#logo{
    border-radius: 100%;
}
.ppn:hover {
    background-color: rgb(4 14 111 / 50%);
}

.anime{
    border-radius: 120px;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
            transform: rotate(0deg);
    }
    to {
            transform: rotate(359deg);
    }
}

